*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Candara', sans-serif;
    margin: 0px;
}

header{
    display: flex;
    background: #00ffd5;
    height: 60px;
    width: auto;
    align-items: center;
}

.textlogo{
    color: #ffffff;
    margin-left: 16px;
}

.logo{
    height: 40px;
    width: 40px;
    margin-top: 0px;
    margin-left: 10px;
}

nav{
    align-items: center;
    display: table;
    height: 30px;
    width: 100%;
    background-color: #ef652a;
}

.navlink{
    display: table-cell;
    color: #ffffff;
    background-color: #ef652a;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 20%;
    height: 100%;
}

.currentlink{
    display: table-cell;
    color: #ffffff;
    background-color: #e34f26;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 20%;
    height: 100%;
}

nav a{
    transition: background-color 350ms;
}

.navlink:hover{
    background-color: #ffffff;
    color: #e34f26;
}

.navlink:active{
    background-color: #e34f26;
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color:#5c5c5c;
    display: flex;
    height: 160px;
    width: 100%;
    align-items: center;
    position: static;
    bottom: 0px;
}

footer a{
    color: #929292;
    text-decoration: none;
    margin-left: 3px;
}

footer a:hover{
    text-decoration: underline;
}

.footerlist{
    margin-left: 30px;
    list-style-type: none;
}

footer h2{
    color:#838383;
}

aside{
    margin: 10px;
    padding-left: 10px;
    border-left: 2px dotted #e34f26;
    font-style: italic;
}

@media only screen and (min-width: 768px) {
    aside{
        float: right;
        width: 35%;
        margin: 0px 0px 10px 10px;
        padding-left: 10px;
        border-left: 2px dotted #e34f26;
        font-style: italic;
    }

    .logo{
        height: 70px;
        width: 70px;
        margin-top: 30px;
        margin-left: 0px;
    }
}

article{
    max-width: 1080px;
    width: 100%;
    margin: 0px auto;
    padding: 45px 0px;
    display: flex;
    min-height: 84vh;
    flex-direction: column;
    justify-content: space-between;
}

article a{
    text-decoration: none;
}

article a:hover{
    text-decoration: underline;
}

p{
    text-align: justify;
    margin-bottom: 15px;
}

h2{
    margin-bottom: 15px;
}

img {
    width: 250px;
    height: auto;
  }

img#img {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1080px) {
    html.history article{
        padding: 45px 45px;
    }
}


.gallerywrap{
    background-color: #f3f3f3;
}

.gallery{
    display: flex;
    width: 80%;
    height: auto;
}

.gallery div{
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 80vw;
    height: 80vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.galleryimg{
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 4px;
}