*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Candara', sans-serif;
    margin: 0px;
}

header{
    display: flex;
    background: #e34f26;
    height: 60px;
    width: auto;
    align-items: center;
}

.textlogo{
    color: #ffffff;
    margin-left: 16px;
}

.logo{
    height: 40px;
    width: 40px;
    margin-top: 0px;
    margin-left: 10px;
}

nav{
    align-items: center;
    display: table;
    height: 30px;
    width: 100%;
    background-color: #ef652a;
}

.navlink{
    display: table-cell;
    color: #ffffff;
    background-color: #ef652a;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 20%;
    height: 100%;
}

.currentlink{
    display: table-cell;
    color: #ffffff;
    background-color: #e34f26;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 20%;
    height: 100%;
}

nav a{
    transition: background-color 350ms;
}

.navlink:hover{
    background-color: #ffffff;
    color: #e34f26;
}

.navlink:active{
    background-color: #e34f26;
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color:#5c5c5c;
    display: flex;
    height: 160px;
    width: 100%;
    align-items: center;
    position: static;
    bottom: 0px;
}

footer a{
    color: #929292;
    text-decoration: none;
    margin-left: 3px;
}

footer a:hover{
    text-decoration: underline;
}

.footerlist{
    margin-left: 30px;
    list-style-type: none;
}

footer h2{
    color:#838383;
}

aside{
    margin: 10px;
    padding-left: 10px;
    border-left: 2px dotted #e34f26;
    font-style: italic;
    text-align: justify;
}


.gallerywrap{
    background-color: #f3f3f3;
}

.gallery{
    width: 80vw;
    height: auto;
}

.gallery div{
    background-color: #ffffff;
    border-radius: 20px;
    width: 80vw;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #d8d8d8;
}

.gallery div:hover{
    border: 1px solid #9e9e9e;
}

.gallery div{
    transition: border 350ms;
}

.gallerytext{
    background-color:#ef652a;
    color: #ffffff;
    font-style: italic;
    border-radius: 18px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
}

.galleryimg{
    background-color: #ffffff;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 0px;
}


article{
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
    padding: 45px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article a{
    text-decoration: none;
}

article a:hover{
    text-decoration: underline;
}

.notgallery{
    padding: 45px 45px;
}

p{
    text-align: justify;
    margin-bottom: 15px;
}

h2{
    margin-bottom: 15px;
}

.historyimg{
    width: 250px;
    height: auto;
    margin-bottom: 15px;
}

ol{
    margin-left: 15px;
    margin-bottom: 15px;
}

ol.ref-list{
    margin-bottom: 0px;
}

sup{
    vertical-align: baseline;
    top: -0.4em;
    position: relative;
}


sub{
    vertical-align: baseline;
    top: 0.4em;
    position: relative;
}

.basics-tags{
    background-color: #faebd7;
    color: #e34f26;
    border-radius: 5px;
}

.basics-code{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    border: 1px dashed #bebebe;
    display: block;
    margin-bottom: 15px;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

table td, table th{
    border-bottom: 1px solid #bebebe;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #f0f0f0;
}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #ffffff;
    background-color: #ef652a;
}

.basics-table{
    margin-bottom: 15px;
}

.basics-table td:first-child{
    font-weight: bold;
}

@media only screen and (min-width: 1024px){
    .logo{
        height: 70px;
        width: 70px;
        margin-top: 30px;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 768px) {
    aside{
        float: right;
        width: 35%;
        margin: 0px 0px 10px 10px;
        padding-left: 10px;
        border-left: 2px dotted #e34f26;
        font-style: italic;
    }

    .historyimg{
        float: right;
        margin-left: 15px;
    }
    
    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .gallery div{  
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
    }
}
  
@media only screen and (max-width: 340px) {
    .historyimg{
        max-width: 100%;
        height: auto;
    }
}